<?xml version="1.0" encoding="UTF-8" ?>
<Configuration>

    <Appenders>

        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p [%c] %m%n" />
        </Console>

    </Appenders>

    <Loggers>
        <Root level="debug">
            <AppenderRef ref="console" />
            <AppenderRef ref="info"  level="info"  />
            <AppenderRef ref="error" level="error" />
        </Root>
    </Loggers>

</Configuration>
